@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --octodeco-purple: #6f42c1;
  --octodeco-pink: #ea4aaa;
  --octodeco-blue: #0366d6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-octodeco-purple: var(--octodeco-purple);
  --color-octodeco-pink: var(--octodeco-pink);
  --color-octodeco-blue: var(--octodeco-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
